* {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-family: "Arial", "Osaka", "ＭＳ Ｐゴシック";
/*	font-family: "Arial", "ＭＳ Ｐゴシック", "Osaka";*/
}

body {
/*
	background-position: center top;
*/
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	color: #343434;
	text-align: center;
	line-height: 1.5em;
	background-image:  url("image/ko31.jpg");
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}
td {
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
td.number {
	text-align: right;
}
th {
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
a {
	color: #CC4444;
/*	color: #444499;*/
	font-weight: bold;
	text-decoration: none;
}
a.text {
	font-weight: normal;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #666633;
}
a img {
	border: 0;
}
#header {
	width: 788px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#content {
	background-image:url("image/body.png");
	width: 788px;
	margin: 0px auto;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 8px;
	clear: both;
}
#content* {
	position:relative;
}
#content-body {
	width: 788px;
	background-image:url("image/SideMenu.png");
	background-repeat:repeat-x;
}
#nav {
/*	background-image:url("image/header.png");*/
	margin: 0px auto;
	width: 788px;
	height: 31px;
	padding-left: 10px;
	padding-right: 8px;
	padding-top: 9px;
	padding-bottom: 0px;
	text-align: left;
	color: #FFFFFF;
	font-size: small;
}
#nav* {
	position:relative;
}
/*
ul.nav {
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 35px;
	display: block;
	float: left;
	line-height: 1em;
}
ul.nav li {
	display: block;
	float: left;
}
ul.nav li a {
	font-weight: bold;
	display: block;
	float: left;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-right: 35px;
	color: #FFFFFF;
	text-decoration: none;
}
ul.nav li a:visited {
	color: #FFFFFF;
}
ul.nav li a:hover {
	text-decoration: underline;
}
*/
#pageTitle {
	background-image:url("image/header.png");
	background-position: bottom;
	background-repeat: no-repeat;
	vertical-align: bottom;
	margin: 0px auto;
	width: 768px;
	height: 31px;
	padding-left: 30px;
	padding-right: 8px;
	padding-top: 9px;
	padding-bottom: 0px;
	text-align: left;
	color: #FFFFFF;
	font-size: medium;
}
ul.nav {
	margin: 0px auto;
	width: 788px;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 15px;
	line-height: 1em;
	display: block;
	font-size: small;
	text-align: left;
}
ul.nav li {
	display: inline;
}
ul.nav li a {
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 0px;
	padding-right: 35px;
	text-decoration: none;
	color: #CC4444;
}
ul.nav li a:visited {
	color: #CC4444;
}
ul.nav li a:hover {
	text-decoration: underline;
}
p.compactStatusList {
	margin: 0px;
	padding: 0px;
	width: 48px;
	display: block;
	text-align: left;
}
#footer {
	background-image: url("image/footer.png");
	width: 788px;
	height: 30px;
	margin: 0px auto;
	text-align: left;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 8px;
	text-align: left;
	clear: both;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	color: #7E7E7E;
	margin-bottom: 8px;
}
#main {
	background: #FFFFFF;
	width: 530px;
	display: block;
	margin-right: 205px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 0px;
	overflow-x: auto;
}
#main h2 {
	font-size: large;
	font-weight: bold;
	color: #7E7E7E;
	margin-top: 15px;
	margin-bottom: 8px;
}
#main h3 {
	font-size: small;
	font-weight: bold;
	color: #7E7E7E;
	margin-top: 10px;
	margin-bottom: 4px;
}
#menu {
	display: block;
	float:right;
	width: 155px;
	padding: 25px 25px 0px 25px;
	font-size: small;
}
#menu form {
	margin-bottom: 15px;
}
#menu ul {
	list-style: none;
	vertical-align: middle;
	border: 1px solid #999999;
	background: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-bottom: 15px;
/*	line-height: 20px;*/
}
#menu li {
	font-weight: bold;
	font-size: small;
	margin-top: 3px;
	margin-bottom: 3px;
}
#menu h2 {
	font-size: 14px;
	font-weight: bold;
	color: #7E7E7E;
	margin-bottom: 8px;
}
#menu h3 {
	font-size: 10px;
	font-weight: bold;
	color: #7E7E7E;
	margin-bottom: 2px;
}
ul.fileList {
	list-style-type: none;
	line-height: 1em;
	display: block;
	font-size: small;
	text-align: left;
}
ul.fileList li {
	display: inline;
	padding-right: 10px;
}
ul.fileList a {
	font-weight: normal;
}
ul.fileList a {
	vertical-align: middle;
	margin-right: 3px;
}
li img {
	vertical-align: middle;
	margin-right: 3px;
}
a.search-on {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	font-size: small;
}
a.search-off {
	font-weight: normal;
	color: #AAAAAA;
	text-decoration: none;
	font-size: small;
}
a.search-on:hover {
	text-decoration: underline;
}
a.search-off:hover {
	text-decoration: underline;
}
hr.bot {
	display: block;
	clear: both;
	visibility: hidden;
}
table.list {
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: small;
	line-height: 1.5em;
}
table.list td {
	vertical-align: top;
	padding: 5px;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
}
table.list td.title {
	font-weight: bold;
}
table.list th {
	padding: 5px;
	text-align: left;
	font-weight: bold;
	background-color: #EEEEEE;
}
table.list th a{
	text-decoration: none;
	color: #343434;
}
table.list th a:hover{
	text-decoration: underline;
}

input.text {
	border: 1px solid #999999;
}

.tableMenu {
	float: left;
}
.tableMenu img {
	vertical-align: middle;
	margin-right: 3px;
}
.tableMenu a {
	text-decoration: none;
}
.tableMenu a:hover {
	text-decoration: underline;
}
.tableMenu a:visited {
	color: #CC4444;
}
.pager {
	text-align: right;
}
.pager img {
	vertical-align: middle;
}

/*--- Form ------------------------------*/
table.form {
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: small;
	line-height: 1.5em;
	empty-cells: show;
}
table.form td {
	vertical-align: middle;
	padding: 5px;
	text-align: left;
}
table.form td.title {
	font-weight: bold;
}
table.form td.text {
	padding: 0px;
	background: #FFFFCC;
	vertical-align: top;
}
table.form td.editable {
	background: #FFFFCC;
	vertical-align: top;
}
table.form th {
	padding: 5px;
	text-align: left;
	font-weight: bold;
	background-color: #EEEECC;
/*	background-color: #EEEEEE;*/
	font-size: small;
	width: 60px;
}
table.form th.text {
	padding: 0px;
	background-color: #DDCCFF;
}
form.tableForm ul {
	list-style: none;
	vertical-align: middle;
	line-height: 20px;
	margin: 5px;
}
form.tableForm ul li{
	display: inline;
	margin-right: 6px;
}
form.tableForm ul input.radio{
	vertical-align: middle;
	line-height: 20px;
}
form.tableForm textarea {
	font-size: small;
	line-height: 1.5em;
	padding: 0px 0px 0px 5px;
	border: 0px none;
	background: #FFFFCC;
	width: 460px;
/*	width: 470px;*/
}
form.tableForm input.text {
	font-size: small;
	line-height: 1.5em;
	padding: 7px;
	background: #FFFFCC;
	border: 0px none;
	width: 450px;
}
form.tableForm input.file {
	vertical-align: middle;
	margin: auto 0px;
}
form.tableForm input.submit {
	margin-top: 10px;
}
ul.checkList {
	list-style: none;
}

.actionList {
	margin-top: 10px;
	list-type: none;
}
.actionList li {
	margin-right: 5px;
	display: inline;
}
.tagList {
	margin-bottom: 10px;
	line-height: 2em;
	list-style: none;
}
.tagList li {
	display: inline;
	padding: 1px;
	margin-right: 4px;
	padding: 2px;
	font-weight: normal;
	font-size: small;
}
.tagList a {
	font-weight: normal;
	font-size: small;
}
.tagTypeList {
	list-style: none;
}
.tagTypeList li {
	display: inline;
}
.tagTypeList a {
	padding: 2px 5px 2px 5px;
	font-weight: normal;
	font-size: small;
}
.tag {
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;
}
.tag1 {
	border: 1px solid #FFDD77;
	background-color: #FFEEDD;
}
.tag2 {
	border: 1px solid #77DD77;
	background-color: #DDFFDD;
}
.tag3 {
	border: 1px solid #77AABB;
	background-color: #DDEEFF;
}
.tag4 {
	border: 1px solid #DD77FF;
	background-color: #EEDDFF;
}
.tag5 {
	border: 1px solid #7777FF;
	background-color: #DDDDFF;
}
.tag6 {
	border: 1px solid #DDDD77;
	background-color: #FFFFDD;
}
.tag7 {
	border: 1px solid #779988;
	background-color: #DDFFEE;
}
.tag8 {
	border: 1px solid #FF7777;
	background-color: #FFDDDD;
}
.tag9 {
	border: 1px solid #7777DD;
	background-color: #EEEEFF;
}
.tag10 {
	border: 1px solid #FF77FF;
	background-color: #FFCCFF;
}

/*
.taskinfo {
	margin-right: 10px;
	float:left;
}
*/
.taskinfo {
	margin-left: 10px;
	float:right;
}
.text {
	font-size: small;
	word-break: break-all;
}