<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>WorkStyle</title>
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/resources/skin/default/basic.css"/>
	<script src="{{ MEDIA_URL }}/resources/prototype.js" language="JavaScript"></script>
	<script src="{{ MEDIA_URL }}/resources/jkl-parsexml.js" language="JavaScript"></script>
	<script src="{{ MEDIA_URL }}/resources/script.js" language="JavaScript"></script>
	<script src="{{ MEDIA_URL }}/resources/local.js" language="JavaScript"></script>
	<script src="{{ MEDIA_URL }}/resources/AjaxPages.js" language="JavaScript"></script>
	<script language="JavaScript" type="text/JavaScript">
	<!--
	function init() {
		$('contents').focus();
	}
	//-->
	</script>
</head>
<body onload="init()">
<p id="header"><a href="TaskList.html"><img src="{{ MEDIA_URL }}/resources/skin/default/image/logo.png" alt="WorkStyle" /></a></p>

<ul class="nav">
	<li><a href="TaskList.html">タスク一覧</a></li>
	<li><a href="TagList.html">タグ管理</a></li>
</ul>

<h1 id="pageTitle">Task Form</h1>

<div id="content"> 
<div id="content-body"> 
	<div id="menu"> 
		<h2>Menu</h2>
		<ul>
			<li><a href="TaskList.html"><img src="{{ MEDIA_URL }}/resources/skin/default/image/icon/go_up.png"/>タスク一覧に戻る</a></li>
		</ul>
	</div>
	<div id="main"> 
	<form action="." method="post" enctype="multipart/form-data">
            <input type="hidden" name="status" value="7" />
            <input type="hidden" name="estimated_man_hour" value="0" />
		<fieldset>
			<div>
{% if form.has_errors %}
<h2>Please correct the following error {{ form.error_dict }}</h2>
{% endif %}
			<label for="conents">タスク</label>
			<textarea id="contents" name="contents" class="text" rows="15">{{ form.contents.data }}</textarea>
			</div>
			<div>
			<label for="tagList">タグ</label>
			<input id="tagList" name="tag_list" type="text" class="text" value="{{ form.tag_list.data }}" />
			<ul class="tagList">
                            {% for tag in tag_list %}
				<li id="tag{{ forloop.counter }}"><a href="javascript:updateTagList('tagList', 'tag{{ forloop.counter }}', '{{ tag.name }}', 'tag{{ forloop.counter }}')">{{ tag.name }}</a></li>
                            {% endfor %}
			</ul>
			</div>
		</fieldset>
		<div class="action">
		<input name="" type="submit" class="submit" value="登録" />
		</div>
	</form>
	</div>
    <!-- main -->
    <hr class="bot" />
</div>
<!-- content-body -->
</div>
<!-- content -->
<div id="footer"/>
</body>
</html>